<launch>

  <!-- Gazebo backend for PAL motors controller -->
  <rosparam command="load" file="$(find reem_controller_configuration_gazebo)/config/pal_motors_controller.yaml" />

  <!-- Hands -->
  <rosparam command="load" file="$(find reem_controller_configuration_gazebo)/config/reem_hand_controllers.yaml" />

  <!-- Controllers that come up started -->
  <node name="default_controllers_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="--wait-for=calibrated pal_motors_controller right_hand_controller left_hand_controller" />

  <!-- Nodes on top of the controllers -->
  <group ns="pal_motors_controller">
    <node name="pr2_controller_manger"
      pkg="pr2_controller_manager" type="spawner" args="--wait-for=calibrated pal_motors_controller" />
  </group>

</launch>
