<launch>
  <!-- Upper body -->
  <rosparam command="load" file="$(find reem_controller_configuration_gazebo)/config/reem_upper_body_controllers.yaml" />

  <!-- Arms -->
  <rosparam command="load" file="$(find reem_controller_configuration_gazebo)/config/reem_arm_controllers.yaml" />
  <rosparam command="load" file="$(find reem_controller_configuration_gazebo)/config/reem_both_arms_controllers.yaml" />

  <!-- Hands -->
  <rosparam command="load" file="$(find reem_controller_configuration_gazebo)/config/reem_hand_controllers.yaml" />

  <!-- Head -->
  <rosparam command="load" file="$(find reem_controller_configuration_gazebo)/config/reem_head_controller.yaml" />

  <!-- Torso -->
  <rosparam command="load" file="$(find reem_controller_configuration_gazebo)/config/reem_torso_controller.yaml" />

  <!-- Controllers that come up started -->
  <node name="default_controllers_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="--wait-for=calibrated head_traj_controller right_arm_torso_controller left_arm_controller right_hand_controller left_hand_controller" />

  <!-- Point head action -->
  <include file="$(find reem_bringup)/launch/point_head_action.launch" />
</launch>
