<launch>

   <!-- Gazebo backend for PAL motors controller -->
  <rosparam command="load" file="$(find reem_controller_configuration_gazebo)/config/pal_motors_controller.yaml" />

  <!-- Upper body -->
  <rosparam command="load" file="$(find reem_controller_configuration_gazebo)/config/reem_upper_body_controllers.yaml" />

  <!-- Arms -->
  <rosparam command="load" file="$(find reem_controller_configuration_gazebo)/config/reem_arm_controllers.yaml" />
  <rosparam command="load" file="$(find reem_controller_configuration_gazebo)/config/reem_both_arms_controllers.yaml" />

  <!-- Head -->
  <rosparam command="load" file="$(find reem_controller_configuration_gazebo)/config/reem_head_controller.yaml" />

  <!-- Torso -->
  <rosparam command="load" file="$(find reem_controller_configuration_gazebo)/config/reem_torso_controller.yaml" />

  <!-- Controllers that come up started -->
  <node name="default_controllers_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="--wait-for=calibrated right_arm_torso_controller left_arm_controller head_controller" />

  <!-- Nodes on top of the controllers -->
  <group ns="pal_motors_controller">
    <node name="pr2_controller_manger"
      pkg="pr2_controller_manager" type="spawner" args="--wait-for=calibrated pal_motors_controller" />
  </group>

</launch>
