<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="robot_name"/>
    <arg name="x_pose"/>
    <arg name="y_pose"/>

    <arg name="laser_model"  default="sick-571"/>
    <arg name="rgbd_sensors"  default="false"/>
    <arg name="world"  default="small_office"/>   <!-- small_office, ... (see ../worlds) -->

    <arg name="planner"        default="base"/>
    <arg name="global_planner" default="global_planner"/>
    <arg name="localization"   default="amcl"/>
    <arg name="map"            default="$(env HOME)/.pal/pmb2_maps/configurations/$(arg world)"/>
    <arg name="octomap"        default="false"/>

    <arg name="public_sim" default="false"/>
    <arg name="simple_sim_model" default="false"/>

    <arg name="local_planner"  default="$(eval 'teb' if arg('public_sim') else 'pal')"/> 

    <group ns="$(arg robot_name)">
        <arg name="gzpose" default="-x $(arg x_pose) -y $(arg y_pose) -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>
        <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg robot_name)_static_map_tf_pub" args="0 0 0 0 0 0 /map $(arg robot_name)/map"/>
        <!-- Write the pose in the pose.yaml used by amcl -->
        <node pkg="pmb2_multi" type="pose_writing.sh" name="multi_pose_writing"
              args="$(arg robot_name) $(arg x_pose) $(arg y_pose)" output="screen"/>

        <!-- spawn robot in simulation -->
        <group unless="$(arg simple_sim_model)">
            <include file="$(find pmb2_gazebo)/launch/pmb2_spawn.launch">
                <arg name="laser_model" value="$(arg laser_model)"/>
                <arg name="rgbd_sensors" value="$(arg rgbd_sensors)"/>
                <arg name="gzpose" value="$(arg gzpose)"/>
                <arg name="multi"  value="multiple:=true namespace:=$(arg robot_name)"/>
                <arg name="model_name" value="$(arg robot_name)"/>
            </include>
        </group>

        <group if="$(arg simple_sim_model)">
            <include file="$(find simple_models_gazebo)/launch/simple_models_spawn.launch">
                <arg name="laser_model" value="$(arg laser_model)"/>
                <arg name="gzpose" value="$(arg gzpose)"/>
                <arg name="robot" value="simple_pmb2"/>
                <arg name="multi"  value="multiple:=true namespace:=$(arg robot_name)"/>
                <arg name="model_name" value="$(arg robot_name)"/>
            </include>
        </group>

        <!-- bring up robot -->
        <include file="$(find pmb2_gazebo)/launch/simulation_pmb2_bringup.launch">
            <arg name="public_sim"  value="$(arg public_sim)"/>
            <arg name="robot_namespace" value="$(arg robot_name)"/>
            <arg name="simple_sim_model" default="$(arg simple_sim_model)"/>
        </include>

        <include file="$(find pmb2_2dnav_gazebo)/launch/navigation.launch">
            <arg name="state"          value="localization"/>
            <arg name="planner"        value="$(arg planner)"/>
            <arg name="global_planner" value="$(arg global_planner)"/>
            <arg name="local_planner"  value="$(arg local_planner)"/>
            <arg name="localization"   value="$(arg localization)"/>
            <arg name="map"            value="$(arg map)"/>
            <arg name="octomap"        value="$(arg octomap)"/>
            <arg name="public_sim"     value="$(arg public_sim)"/>
            <arg name="robot_namespace"      value="$(arg robot_name)"/>
            <arg name="multiple"       value="true"/>
        </include>

    </group>
</launch>
