<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="robot_name"/>
    <arg name="x_pose"/>
    <arg name="y_pose"/>

    <arg name="laser_model"  default="sick-571"/>
    <arg name="rgbd_sensors"  default="false"/>
    <arg name="world"  default="small_office"/>   <!-- small_office, ... (see ../worlds) -->

    <arg name="map"            default="$(env HOME)/.pal/pmb2_maps/configurations/$(arg world)"/>

    <arg name="public_sim" default="false"/>
    <arg name="simple_sim_model" default="false"/>

    <group ns="$(arg robot_name)">
        <arg name="gzpose" default="-x $(arg x_pose) -y $(arg y_pose) -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>
        <node pkg="tf" type="static_transform_publisher" name="$(arg robot_name)_bc" args="0 0 0 0 0 0 1 /map $(arg robot_name)/map 100"/>

        <!-- spawn robot in simulation -->
        <group unless="$(arg simple_sim_model)">
            <include file="$(find pmb2_gazebo)/launch/pmb2_spawn.launch">
                <arg name="laser_model" value="$(arg laser_model)"/>
                <arg name="rgbd_sensors" value="$(arg rgbd_sensors)"/>
                <arg name="gzpose" value="$(arg gzpose)"/>
                <arg name="multi"  value="multiple:=true namespace:=$(arg robot_name)"/>
                <arg name="model_name" value="$(arg robot_name)"/>
            </include>
        </group>

        <group if="$(arg simple_sim_model)">
            <include file="$(find simple_models_gazebo)/launch/simple_models_spawn.launch">
                <arg name="laser_model" value="$(arg laser_model)"/>
                <arg name="gzpose" value="$(arg gzpose)"/>
                <arg name="robot" value="simple_pmb2"/>
                <arg name="multi"  value="multiple:=true namespace:=$(arg robot_name)"/>
                <arg name="model_name" value="$(arg robot_name)"/>
            </include>
        </group>

        <!-- bring up robot -->
        <include file="$(find pmb2_gazebo)/launch/simulation_pmb2_bringup.launch">
            <arg name="public_sim"  value="$(arg public_sim)"/>
            <arg name="robot_namespace" value="$(arg robot_name)"/>
            <arg name="simple_sim_model" default="$(arg simple_sim_model)"/>
        </include>

    </group>
</launch>
