<launch>
  <arg name="dock"   default="full"/>
  <arg name="gzpose" default="-x 0 -y 0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>

  <!-- Dock model -->
  <include file="$(find ant_description)/robots/upload_dock.launch">
    <arg name="dock" value="$(arg dock)"/>
  </include>

  <!-- Spawn dock in Gazebo -->
  <node pkg="gazebo_ros" type="spawn_model" name="$(anon spawn_model)"
    args="-urdf -param dock_description $(arg gzpose) -model dock_$(arg dock)" />

</launch>
