<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="world"  default="small_office"/>  <!-- empty, small_office, ... (see ../worlds) -->
  <arg name="robot"  default="default"/>
  <arg name="robot_pose" default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>
  <arg name="dock"  default="full"/>          <!-- full -->
  <arg name="dock_pose" default="-x 2.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 3.14159"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>

  <include file="$(find pmb2_gazebo)/launch/pmb2_gazebo.launch">
    <arg name="world"  value="$(arg world)"/>
    <arg name="robot"  value="$(arg robot)"/>
    <arg name="gzpose" value="$(arg robot_pose)"/>
    <arg name="gui"    value="$(arg gui)"/>
    <arg name="debug"  value="$(arg debug)"/>
  </include>

  <!-- Dock -->
  <include file="$(find pmb2_gazebo)/launch/dock_spawn.launch">
    <arg name="dock"   value="$(arg dock)"/>
    <arg name="gzpose" value="$(arg dock_pose)"/>
  </include>

  <!-- @todo remove this once it's replace by the dock model above completely -->
  <!-- Dock station IR emitters -->
  <rosparam command="load" file="$(find pmb2_gazebo)/config/dock.yaml"/>

</launch>
