<launch>
  <!-- Simulation time -->
  <param name="/use_sim_time" type="bool" value="true"/>

  <arg name="namespace" default="/"/>

  <arg name="world"  default="simple_office"/>
  <arg name="robot"  default="full"/>
  <arg name="gzname" default="gazebo"/>
  <arg name="gzpose" default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>

  <arg name="planner"       default="base"/>
  <arg name="local_planner" default="pal"/>
  <arg name="localization"  default="amcl"/>
  <arg name="map"           default="$(find reem_maps)/configurations/$(arg world)"/>

  <arg name="rviz" default="true"/>

  <group ns="$(arg namespace)">

    <include file="$(find reem_gazebo)/launch/reem_gazebo.launch">
      <arg name="world"  value="$(arg world)"/>
      <arg name="robot"  value="$(arg robot)"/>
      <arg name="gzname" value="$(arg gzname)"/>
      <arg name="gzpose" value="$(arg gzpose)"/>
    </include>

    <include file="$(find reem_2dnav)/launch/navigation.launch">
      <arg name="planner"       value="$(arg planner)"/>
      <arg name="local_planner" value="$(arg local_planner)"/>
      <arg name="localization"  value="$(arg localization)"/>
      <arg name="map"           value="$(arg map)"/>
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find reem_2dnav)/config/$(arg planner)/$(arg local_planner)/navigation.rviz" if="$(arg rviz)"/>

  </group>
</launch>
