<?xml version="1.0" ?>
<database>
  <name>ANT database</name>
  <license>Creative Commons Attribution 3.0 Unported</license>
  <models>
    <uri>file://ant_description</uri>
    <uri>file://table_1m</uri>
    <uri>file://pringles</uri>
    <uri>file://pringles_with_marker</uri>
    <uri>file://marker26_8cm</uri>
  </models>
</database>
