<launch>
  <arg name="gzworld" default="empty_throttled.world"/>
  <param name="/use_sim_time" type="bool" value="true"/>

  <!-- start gazebo -->
  <node name="gazebo" pkg="pal_gazebo_plugins" type="run_gazebo" args="-u $(find reem_gazebo)/worlds/$(arg gzworld)" respawn="false" output="screen" />
</launch>
