<launch>
  <arg name="robot"  default="full"/>
  <arg name="gzpose" default="-x 0 -y 0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>

  <!-- PID gains -->
  <rosparam command="load" file="$(find reem_controller_configuration_gazebo)/config/pids.yaml"/>

  <!-- Diff drive controller parameters -->
  <rosparam command="load" file="$(find reem_controller_configuration_gazebo)/config/mobile_base_controller.yaml"/>

  <!-- Joint trajectory controllers -->
  <rosparam command="load" file="$(find reem_controller_configuration_gazebo)/config/joint_trajectory_controllers.yaml"/>

  <!-- Robot model -->
  <include file="$(find reem_description)/robots/upload_reem.launch">
    <arg name="robot" value="$(arg robot)"/>
  </include>

  <!-- Spawn robot in Gazebo -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model"
    args="-urdf -param robot_description $(arg gzpose) -model reem_$(arg robot)" />

</launch>
