<launch>
  <arg name="robot"  default="full"/>
  <arg name="gzpose" default="-x 0 -y 0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>

  <arg name="gzmodel" default="$(find reem_gazebo)/models/reem_$(arg robot)/model.urdf"/>

  <include file="$(find reem_description)/robots/upload_reem.launch">
    <arg name="robot" value="$(arg robot)"/>
  </include>

  <!-- Push robot_description to factory and spawn robot in Gazebo -->
  <include file="$(find pal_gazebo_plugins)/launch/spawn.launch">
    <arg name="gzmodel" value="$(arg gzmodel)"/>
    <arg name="gzpose"  value="$(arg gzpose)"/>
  </include>
</launch>
