<launch>

  <arg name="gzname" default="gazebo"/>
  <arg name="gzworld" default="ramp.world"/>
  <arg name="gzpose" default="-x -12.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>
  <param name="/use_sim_time" type="bool" value="true"/>

  <!-- start gazebo -->
  <node name="gazebo" pkg="pal_gazebo_plugins" type="run_$(arg gzname)" args="$(find reem_gazebo)/worlds/$(arg gzworld)" output="screen" />

  <!-- start REEM robot -->
  <include file="$(find reem_gazebo)/launch/reem.launch">
    <arg name="gzpose" value="$(arg gzpose)"/>
  </include>

</launch>
